html{
    width: 100%;
    height: 100%;
}

nav{
    background-color: black;
    display: block;
    color: aliceblue;
    height: 90px;
    width: 100%;
    text-align:right;
    font-size: x-large;
    position: sticky;
    border: 8px solid;
    border-color: mediumseagreen;
    box-shadow: 2px 2px 8px darkgreen;
}
#logo{
    position: absolute;
    align-items:center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightseagreen;
    text-shadow: 2px 2px 8px darkgreen;
    padding: 20px;
    margin: 0;
    margin-left: 20px;

}

.fa-sharp.fa-solid.fa-bars{
    background-color: lightseagreen;
    border: none;
    box-shadow: 2px 2px 8px darkgreen;
    width: 20px;
    height: 20px;
    padding:20px;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}


h2,h3{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.navig {
    padding:30px 30px 33px;
    color: lightseagreen;
}
li{
    display: inline-flex;
    padding:inherit;
    align-items: center;
    text-transform: uppercase;
    text-shadow:2px 2px 8px darkgreen;
    font-family: 'Source Sans Pro', sans-serif;
    float: left;
    letter-spacing: 1px;
    
}
 nav ul{
    height: 92px;
    width:inherit;
    margin: 0 300px;
    padding-inline-start: 0;
    
}
body{
    margin: 0;
}
#button1{
    background-color:lightseagreen;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 8px darkgreen;
    box-sizing: border-box;
    align-items:center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 40px;
    font-size: large;

}
.navig:active{
     background-color:lightseagreen;
     color: black;
 }

.navig:hover{
    background-color:lightseagreen;
    color: black;
}

#button1:hover,#button2:hover{
    transform: scale(1.1);
    background-color: mediumseagreen;
}
.fa-sharp.fa-solid.fa-bars:hover {
    background-color:mediumseagreen ;
    cursor:pointer;
}

#dropdown-content,#button1{
    display:none ;
    z-index: 1;
}


#dropdown:hover #dropdown-content,#button1{
    display: block;
}

body{
    background-color: black;
    width: 100%;
    height: 1000px;
}

#content{
    height: 1000px;

}
div h2{
    color: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
    text-align: center;
    text-shadow: 2px 2px 8px lightseagreen;
    margin-top: 100px;
}

#button2{
   margin: 0;
   background-color: lightseagreen;
   border: none;
   border-radius: 2px;
   box-shadow: 2px 2px 8px darkgreen;
   box-sizing: border-box;
   width: 200px;
   height: 70px;
   align-items:center;
   text-transform: uppercase;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:large;
   padding: 20px 40px;
   color: aliceblue;
   align-content: center;
   margin-left: 43%;
   position: inherit;

margin-top: 50px;
}
@media screen and (max-width:1257px){
   nav ul{
        margin:0 200px 0 300px;
    }
}


@media screen and ( max-width:1156px){
 nav ul{
    margin: 0px 100px 0 200px;
}
#button2{
    margin-left: 40%;
}
}
@media screen and ( max-width:939px){
    nav{
        height: 85px;
        width:100%;
    }
     #dropdown-content,#button1{
        display:none ;
        z-index: 1;
    }
    
    
    #dropdown:hover #dropdown-content,#button1{
        display: block;
    }
    #dropdpwn:hover #dropdown-content ul .navig{ 
    display: list-item;
    position:relative ;
    align-items: center;/*не знаю, фігня якась може колись дороблю*/
}
a {
    position: relative;
    display: inherit;
}
}









footer{
    background-color: black;
    display: block;
    color: aliceblue;
    height: 90px;
    width: 100%;
    text-align:right;
    font-size: x-large;
    position: sticky;
    border-top:6px solid;
    border-color: mediumseagreen;
}
#content li{
    color: lightseagreen;
}

footer div ul{
margin: 0;
height: 90px;
width: inherit;
margin-right: 70px;
}
.foot {
    padding:30px 30px 33px;
    color: lightseagreen;
}

.foot:hover{
    background-color: lightseagreen;
    color: black;
}

#icons{
    display:inline-block;
    width: 48px;
    height: 48px;
    transition: width 2s;
    margin: 0 50% 0 50%;
}

#icons:hover{
    width: 60px;
    height: 60px;
}
#insta img{
    width: 48px;
    height: 48px;
    transition: width,height 2s;
}

#insta img:hover{
    width: 60px;
    height: 60px;
}

