nav{
    background-color: black;
    display: block;
    color: aliceblue;
    height: 90px;
    width: 100%;
    text-align:right;
    font-size: x-large;
    position: sticky;
    border: 8px solid;
    border-color: mediumseagreen;
    box-shadow: 2px 2px 8px darkgreen;
}
#logo{
    position: absolute;
    align-items:center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightseagreen;
    text-shadow: 2px 2px 8px darkgreen;
    padding: 20px;
    margin-left: 20px;

}
#logo h1{
    margin: 0;
}


h2,h3{
    margin: 0;
}
li a{
    text-decoration: none;
    color: inherit;
}
.navig a{
    padding:27px 20px 25px 20px;
}
.navig{
    color: lightseagreen;
}
li{
    display: inline;
    padding:27px 20px 25px 20px;
    align-items: center;
    text-transform: uppercase;
    text-shadow:2px 2px 8px darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    margin: 18px;
    height: 70px;;
    padding: 10px 0 0 0;
    width: 100%;
}
body{
    margin: 0;
}
#button1{
    background-color: mediumseagreen;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 8px darkgreen;
    box-sizing: border-box;
    width: 120px;
    height: 45px;
    align-items:center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 40px;
    font-size:large;
    padding: 20px 40px;

}
.navig:active{
     background-color:lightseagreen;
     color: black;
 }

.navig:hover{
    background-color:lightseagreen;
    color: black;
}

#button1:hover{
    transform: scale(1.1);
}

